

html, body, ul, li, section {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: gray;
}
input {
	outline: none;
	font-size: 13px;
}
h1,h2,h3,h4 {
	margin: 3px 0;
}
h1 {
	font-size: 50px;
}
h2 {
	display: inline-block;
	padding: 0 20px 7px 20px;
	border-bottom: 1px solid white;
	/*#363636;*/
}
.header {
	background-image: url(http://www.traveltats.com/wp-content/uploads/new-picture-grenada-hd-background.jpg);
	background-repeat: no-repeat;
	padding: 240px 0;
}
#pirate-treasure {
	width: 80px;
	height: 80px;
}
.title-bg {
	padding: 30px 0;
	border-radius: 2px;
	background-color: ;
}
#num-coins-input {
	border: none;
	background-color: #ccc;
	color: teal;
	padding: 7px;
	border-radius: 2px;
}
#num-coins-input:focus {
	background-color: #eee;
}

.button {
	font-weight: bold;
	letter-spacing: 1px;
	border: 1px solid #FF8000;
	color: #FF8000;
	padding: 6px 10px;
	background-color: transparent;
	border-radius: 2px;
}
.button:hover {
	cursor: default;
	background-color: #FF8000;
	color: white;
}
.button:active {
	background-color: brown;
	border: 1px solid brown;
}

.box-padding {
	padding: 40px 0;
}
.teal-txt {
	color: teal;
}
.drk-gry-txt {
	color: #363636;
}
.gry-txt {
	color: gray;
}
.wht-txt {
	color: white;
}
.e-txt {
	color: #eee;
}
.tomato-txt {
	color: tomato;
}
.red-txt {
	color: brown;
}
.green-txt {
	color: green;
}
.center {
	text-align: center;
}
.site-width {
	margin: 0 auto;
	max-width: 800px;
}
.bg-e {
	background-color: #eee;
}
.bg-teal {
	background-color: teal;
}
.bg-red {
	background-color: brown;
}
.bg-blu {
	background-color: #006EFF;
	background-color: #3BADFF;
	background-color: #0095FF;
}
.site-boundary {
	border-right: 20px dashed white;
	border-left: 10px dashed #0095FF;
}
.inline-block {
	display: inline-block;
}
.middle {
	vertical-align: middle;
}
.modal-background {
	position: fixed;
	background-color: white;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.modal{
	position: fixed;
	background-color: black;
	padding: 10px 40px;
	border-radius: 2px;
	top: calc(50% - 150px);
	left: calc(50% - 130px);
}
#loading-gif {
	margin-top:;
	width: 200px;
	height: 200px;
}
.marg-top-neg-5 {
	margin-top: -5px;
}
.marg-bot-0 {
	margin-bottom: 0;
}
.hidden {
	display: none;
}

