<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Pirate Booty</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="piratesangularjs.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="piratesangularjs.css">
</head>
<body ng-app='pirateBooty' ng-controller='pirateBootyVM'>
	<header class='header center'>
		<div class='site-width'>
			<div class="title-bg">
				<h1 class='wht-txt'>Pirate Booty<h1>
				<h2 class='wht-txt'>Legend of the coin-overboard</h2>
			</h1>
		</div>
	</header>
	<section class='center'>
		<div class='site-width box-padding site-boundary'>
			<p  ng-class='inputWarning.txtColor'> {{inputWarning.message}} </p>
			<input type='text' id='num-coins-input' placeholder='Example :  250' 
				ng-model='numOfPirates' ng-change='updateWarning()' ng-trim='false'>
			<input type='button' class='button' value='Arg Matey!' ng-click='getNumOfCoins()'>
		</div>
	</section>
	<section class='center bg-blu'>
		<div class='site-width box-padding site-boundary e-txt'>
			<h3 class="wht-txt">The number of coins is:</h3>
			<h4 ng-bind='numOfCoins' class='wht-txt'></h4>
		</div>
	</section>
	<div class='modal-background hidden'></div>
	<div class='modal hidden center'>
		<p class="wht-txt marg-bot-0">Loading...</p>
		<img src="http://i.imgur.com/hW8uDm8.gif" id='loading-gif'>
		<p class="wht-txt marg-top-neg-5">This could take a while...</p>
	</div>
</body>
</html>